var GigListItem = React.createClass({
    render: function(){
        return (
            <li className="table-view-cell media">
              <a className="navigate-right">
                <img className="media-object pull-left" src="http://placehold.it/42x42"/>
                <div className="media-body">
                    Gig Title
                    <p>in 2 days &middot; 7pm&mdash;9pm</p>
                    <p>#rock #indie #ether</p>
                    <p>20km @ The Hive &middot; $5</p>
                </div>
              </a>
            </li>
        );
    }
});

var GigList = React.createClass({
    render: function() {
        return (
            <ul className="table-view">
                {this.state.gigs}
            </ul>
        );
    },
    getInitialState: function() {
        var state = { 
            gigs: [] 
        };
        this.props.gigs.forEach(function(gig){
            state.gigs.push(
                <GigListItem {...gig}/>
            );
        });
        return state;
    }
});

var GigSearchForm = React.createClass({
    submitForm: function() {
        var form = this;
        $.ajax({
            type: "GET",
            url: "/gigs",
            dataType: "json",
            data: {
                search: {
                    location: this.state.location, 
                    cost: this.state.maxCost
                }
            }
        }).done(function(data){
            form.setState({
                gigs: data
            });
        });
    },

    handleCostChange: function(event) {
        this.setState({maxCost: event.target.value});
    },

	render: function() {
		return (
			<div className="GigSearchForm">
        			<div className="GigSearchForm-params">
                    <div className="list">

                      <div className="item item-input-inset">
                            <label className="item-input-wrapper">
                              <div className="location">
                                Gigs near <span className="u-inputStuffIndicator"><span className="glyphicon glyphicon-map-marker"></span><ContentEditable html={this.state.location}/></span>
                                </div>
                            </label>

                            <div className="maxCost">
                                <label className="item-input-wrapper">
                                    <select defaultValue={this.props.maxCost} onChange={this.handleCostChange}>
                                      <option value="0">Free</option>
                                      <option value="25">$30 and under</option>
                                      <option value="1000">Any cost</option>
                                    </select>
                                </label>
                            </div>

                            <LaddaButton onClick={this.submitForm}>
                            <button className="button button-small">
                              <span className="ladda-label u-searchIcon"></span> Find
                            </button>
                            </LaddaButton>
                      </div>

                    </div>

        			</div>


    			<div className="GigSearchForm-results">
                    <GigList gigs={this.props.gigs}/>
    			</div>
			</div>
		);
	},
	getInitialState: function() {
		return { maxCost: this.props.maxCost, location: this.props.location };
	}
});