var GigListItem = React.createClass({
    render: function(){
        return (
            <li className="table-view-cell media">
              <a className="navigate-right">
                <img className="media-object pull-left" src="http://placehold.it/42x42">
                <div className="media-body">
                  this.props.title}
                  <p>this.props.description}</p>
                </div>
              </a>
            </li>
        );
    }
});

var GigList = React.createClass({
    render: function() {
        return (
            <ul className="table-view">
                {this.state.gigs}
            </ul>
        );
    },
    getInitialState: function() {
        var state = { 
            gigs: [] 
        };
        this.props.gigs.forEach(function(gig){
            state.gigs.push(
                <GigListItem {...gig}/>
            );
        });
        return state;
    }
});

var GigSearchForm = React.createClass({
    submitForm: function() {
        var form = this;
        $.ajax({
            type: "GET",
            url: "<%= gigs_path %>",
            dataType: "json",
            data: {
                search: {
                    location: this.state.location, 
                    cost: this.state.maxCost
                }
            }
        }).done(function(data){
            form.setState({
                gigs: data
            });
        });
    },

	render: function() {
		return (
			<div className="GigSearchForm">
                <div className="content-padded">
        			<div className="GigSearchForm-params">
                        <div className="location">
                            Events near <span className="u-inputStuffIndicator"><span className="glyphicon glyphicon-map-marker"></span><ContentEditable html={this.state.location}/></span>
                        </div>

                        <div className="maxCost">
                            <label>
                                <select value={this.state.maxCost}>
                                  <option value="0">Free</option>
                                  <option value="20">$20 and under</option>
                                  <option value="50">$50 and under</option>
                                </select>
                                <span className="icon icon-caret"></span>
                            </label>
                        </div>

                        <LaddaButton onClick={this.submitForm}>
                            <button className="btn btn-block btn-primary"><span className="ladda-label u-searchIcon"></span> Search</button>
                        </LaddaButton>
        			</div>
                </div>


    			<div className="GigSearchForm-results">
                    <GigList gigs={this.props.gigs}/>
    			</ul>
			</div>
		);
	},
	getInitialState: function() {
		return { maxCost: this.props.maxCost, location: this.props.location };
	}
});