<header class="page-header">
	<h1>Artist — <%= @artist.name %></h1>
	<h2><%= link_to "Website", @artist.website %></h2>
</header>

<section class="artist-performances">
	<h2>Performances</h2>
	<% @artist.performances.order(:time).each do |performance| %>
		<%= render :partial => "performances/performance", :locals => {:performance => performance} %>
	<% end %>
</section>
