  <div class="list" ng-controller="NewGigCtrl">
    
    <label class="item item-input">
      <i class="icon ion-information"></i>
      <strong><input type="text" placeholder="Gig name"/></strong>
    </label>

    <label class="item item-input">
        <span class="input-label">Start date</span>
        <input type="date"/>
    </label>

    <label class="item item-input">
      <span class="input-label">Start time</span>
      <input type="time"/>
    </label>

    <label class="item item-input">
        <span class="input-label">End date</span>
        <input type="date"/>
      </label>
      
      <label class="item item-input">
        <span class="input-label">End time</span>
        <input type="time"/>
      </label>

    <label class="item item-input">
      <textarea rows=5 placeholder="Description"></textarea>
    </label>

  <a class="item item-icon-left item-text-wrap" ng-click="tagsModal.show()">
    <i class="icon ion-pound"></i>
    Tags
    <ul><li><span ng-repeat="tag in gig.tags"><strong>#{{tag.name}}</strong> </span></ul>
  </a>


    <script id="tagsModal.html" type="text/ng-template">
      <ion-modal-view>
          <div class="bar bar-header bar-dark">
            <h1 class="title">Tag this gig</h1>
            <a ng-click="tagsModal.hide()" class="button button-icon icon ion-chevron-down"></a>
          </div>
          <div class="bar bar-subheader item-input-inset">
            <label class="item-input-wrapper">
              <i class="icon ion-ios7-search placeholder-icon"></i>
              <input type="search" placeholder="Enter tags" ng-model="searchTags.query">
            </label>
            <button class="button button-clear">
              Cancel
            </button>
          </div>

        <ion-content class="has-header has-subheader">
          <div class="list">
            <button ng-click="createTag(searchTags.query)" class="button button-block button-positive" ng-hide="(searchTags.query === '' || hasTag({name: searchTags.query}))">
              Create and tag <strong>#{{searchTags.query}}</strong>
            </button>

            <div class="item item-button-right" ng-repeat="tag in gig.tags">
              <div class="item-body">
                <strong>#{{tag.name}}</strong>
              </div>

              <button ng-click="removeTag(tag)" class="button button-icon icon ion-minus-circled"></button>
            </div>

          </div>
        </ion-content>
      </<ion-modal-view>
  </script>

  <li class="item item-toggle">
    <span>18+</span>
    <label class="toggle toggle-assertive">
     <input type="checkbox" ng-model="gig.eighteenPlus">
     <div class="track">
       <div class="handle"></div>
     </div>
   </label>
 </li>

 <label class="item item-input">
  <span class="input-label">Cost</span>
  <input type="tel" ng-model="gig.cost"/>
</label>

<label class="item item-input">
  <span class="input-label">Link to source</span>
  <input type="text" placeholder="http://venue123.com/gig/42"/>
</label>

<div class="item item-divider">
  Venue details
</div>

  <script id="selectVenueModal.html" type="text/ng-template">
    <div class="modal">
        <div class="bar bar-header bar-dark">
            <h1 class="title">Find or create venue</h1>
            <a ng-click="selectVenueModal.hide()" class="button button-icon icon ion-chevron-down"></a>
          </div>
          <div class="bar bar-subheader item-input-inset">
            <label class="item-input-wrapper">
              <i class="icon ion-ios7-search placeholder-icon"></i>
              <input type="search" placeholder="Enter a venue name" ng-model="searchVenues.query" ng-model-options="{ debounce: {'default': 500, 'blur': 1} }">
            </label>
          </div>

        <ion-content class="has-header has-subheader has-footer">
          <div class="list">
            <div class="item" ng-show="searchVenues.searching">
              <i class="icon ion-loading-c"></i> Finding venues...
            </div>

            <div class="item" ng-show="searchVenues.query !== '' && searchVenues.loadedVenues.length == 0">
              <div class="item-body">
                We couldn't find the venue. Better create one then!
              </div>
            </div>

            <div class="item item-thumbnail-left" ng-repeat="venue in searchVenues.loadedVenues" ng-click="selectVenue(venue)">
              <h2>{{venue.name}}</h2>
              <p>{{venue.location}}</p>
            </div>

          </div>
        </ion-content>

        <ion-footer-bar ng-show="searchVenues.query !== '' && searchVenues.loadedVenues.length == 0">
          <div class="button-bar">
          <button ng-click="createVenue(searchVenues.query)" class="button button-positive icon-left ion-plus-round">Create venue <strong>{{searchVenues.query}}</strong>
            </button>
          </div>
        </ion-footer-bar>
      </div>
  </script>

  <a class="item" ng-click="selectVenueModal.show()"><i class="icon ion-search placeholder-icon"></i> Find or create venue</a>

  <label class="item item-input">
    <span class="input-label">Venue name</span>
    <input type="text" ng-model="gig.venue.name" ng-disabled="gig.venue.id !== null" placeholder="Find or create venue"/>
  </label>

  <label class="item item-input">
    <span class="input-label">Location</span>
    <input type="text" ng-model="gig.venue.location" ng-disabled="gig.venue.id !== null"/>
  </label>


  <div class="padding">
    <button class="button button-large button-full button-positive">Post gig</button>
  </div>
  </div>


