<header class="page-header">
	<h1>About GigCove</h1>
</header>

<article>
	<h2>Why</h2>
	<p class="lead">My name is <a href="http://liamz.co">Liam</a>, I'm 17 and I'm building GigCove to make it simple and easy for young people to find out about things going on in Brisbane.</p>
	<p>I love talking to people, so if you would like to get in contact please send me an email on <strong>liam@gigcove.com</strong></p>

	<h2>Thanks</h2>
	<p class="lead">It's important to say a BIG thank you to the people who built the following fantastic tools, of which GigCove is built:</p>
	<ul>
		<li>Ruby on Rails</li>
		<li>Docker and Fig</li>
		<li>Postgres</li>
		<li>Bootstrap 3</li>
		<li>Ratchet CSS</li>
		<li>ReactJS</li>
		<li>LESS CSS</li>
		<li>Devise</li>
	</ul>
</article>
