<div class="list card">

  <a href="<%= new_gig_path %>" class="item item-icon-left">
    <span class="icon ion-calendar"></span>
    Tell us about a new gig!
  </a>

  <a href="<%= new_venue_path %>" class="item item-icon-left">
    <span class="icon ion-map"></span>
    Know about a venue we should follow? Link us!
  </a>

</div>