<div class="card">
<ul class="table-view">
  <li class="table-view-cell">
    <a class="navigate-right" href="<%= new_gig_path %>" data-transition="slide-out">
      <span class="glyphicon glyphicon-calendar"></span> Tell us about a new gig!
    </a>
  </li>
  <li class="table-view-cell">
    <a class="navigate-right" href="<%= new_venue_path %>" data-transition="slide-out">
      <span class="glyphicon glyphicon-map-marker"></span> Know about a venue we should follow? Link us!
    </a>
  </li>
</ul>
</div>