<header class="page-header">
	<h1>Contact us <small>the people behind GigCove</small></h1>
</header>

<article>
<p class="lead">If you have any questions, ideas, feedback, enquiries or just want to say hi, don't hesitate to send an email to <strong>liam@liamz.co</strong>.</p>
</article>
