<section class="intro">
	<h1>GigCove</h1>
	<h2>The best place to find live music gigs near you in Brisbane</h2>
	<div class="call-to-actions">
		<a class="btn btn-success btn-lg" role="button" href="<%= gigs_path %>">Search for gigs near me</a>
		<a class="btn btn-success btn-lg" role="button" href="<%= gigs_path %>">Post gigs</a>
	</div>

</section>

<div class="jumbotron">
  <h1>Welcome to GigCove!</h1>
  <p>Music is best when live, and it's even better when enjoyed with friends.</p>
  <p>GigCove is the best way of finding good quality live music gigs near you.</p> 
  <p>We moderate and maintain a list of gigs around Brisbane, which are then personalised according to how close they are, how much you can pay, when they are and more.</p>
</div>
