<div class="content-padded">
<h2 class="lead text-center">Get out and involved!</h2>
</div>

<%= react_component('GigSearchForm', { maxCost: 20, location: "South Brisbane"}, {prerender: 0}) %>

<!--
<%= render :partial => "gigs/gig_list", :locals => {:gigs => []} %>



<form>
  <span class="glyphicon glyphicon-map-marker"></span><input type="text" placeholder="Location">
  $<input type="number" max="30" min="0" step="5" value=15>
  <button class="btn btn-positive btn-block">Find gigs</button>
</form>

<form class="input-group">
  <span class="glyphicon glyphicon-map-marker"></span><input type="text" placeholder="Location">
  $<input type="number" max="30" min="0" step="5" value=15>
  <button class="btn btn-positive btn-block">Find gigs</button>
</form>

<form class="input-group">
  <div class="input-row">
    <label><span class="glyphicon glyphicon-map-marker"></span></label>
    <input type="text" placeholder="Brisbane AU">
  </div>
  <div class="input-row">
    <label>Max cost $</label>
    <input type="number" max="30" min="0" step="5" value=15>
  </div>
</form>




<div class="Gig"><div class="panel-body">
  <div class="Gig--Main">
    <p>in 2 days &middot; 7pm&mdash;9pm</p>
    <p>#rock #indie #ether</p>
    <p>20km @ The Hive &middot; $5</p>
  </div>
  <div class="Gig--Venue"></div>
</div></div>


<q><%= Gig.count %> gigs and counting...</q>
-->