<div class="content-padded">
<h2 class="lead text-center">Get out and involved!</h2>
</div>

Want to find something to do with friends? Have a night free, moved to a new city? Tired of trawling through websites looking for events? Missed a band you liked because you weren't aware of their gig?

<%= react_component('GigSearchForm', { maxCost: 20, location: "South Brisbane", gigs: []}, {prerender: true}) %>

<div class="segmented-control">
  <a class="control-item active" href="#item1mobile">
    Thing one
  </a>
  <a class="control-item" href="#item2mobile">
    Thing two
  </a>
  <a class="control-item" href="#item3mobile">
    Thing three
  </a>
</div>
<div class="card">
  <span id="item1mobile" class="control-content active">Item 1</span>
  <span id="item2mobile" class="control-content">Item 2</span>
  <span id="item3mobile" class="control-content">Item 3</span>
</div>