

<div class="list">

<div class="item">
<h2 class="lead text-center">Get out and involved!</h2>
Want to find something to do with friends? Have a night free, moved to a new city? Tired of trawling through websites looking for events? Missed a band you liked because you weren't aware of their gig?
</div>

<label class="item item-input">
    <span class="input-label"><span className="glyphicon glyphicon-map-marker"></span>
 Gigs near</span>
    <input type="text" placeholder="Mascott, Sydney">
  </label>


  <label class="item item-input item-select">
    <div class="input-label">
      Cost
    </div>
    <select>
    <option value="0">Free</option>
    <option value="25">$30 and under</option>
    <option value="1000">Any cost</option>
    </select>
  </label>

  <button class="button button-large button-full button-positive">
  Find gigs!
</button>

  
</div>