<section class="intro jumbotron">
	<div class="container">
		<h1>Welcome to <strong>GigCove</strong></h1>
		<h2>The best place to discover live music gigs near you in Brisbane</h2>
		<div class="call-to-actions">
			<a class="btn btn-success btn-lg" role="button" href="<%= gigs_path %>">Search for gigs near me</a>
			<a class="btn btn-success btn-lg" role="button" href="<%= gigs_path %>">Post gigs</a>
		</div>
	</div>
</section>

