<ul class="top-venues">
<% venues.each do |venue| %>
	<li>
		<div>
			<h2><%= venue.name %></h2>
			<p><%= venue.location %></p>
			<%= 1+Random.rand(3) %> gigs happening this momth
		</div>
<% end %>
</ul>