<header class="page-header">
	<h1>Say hello to GigCove!</h1>
</header>

<article>
	<h2>Why</h2>
	<p class="lead">My name is <a href="http://liamz.co">Liam</a>, I'm 17 and I'm making it super easy for young people to find out about events going on in their city.</p>

	Facebook
	Twitter
	Email

	<p>I love talking to people, so if you would like to get in contact please send me an email on <strong>liam@gigcove.com</strong></p>

	<h2>Thanks</h2>
	<p class="lead">It's important to say a BIG thank you to the people who built the following fantastic tools, of which GigCove is built:</p>
	<ul>
		<li>Ruby on Rails 4</li>
		<li>Docker and Fig</li>
		<li>Postgres</li>
		<li>Bootstrap 3</li>
		<li>Ionic CSS</li>
		<li>ReactJS</li>
		<li>LESS CSS</li>
		<li>Devise</li>
	</ul>
	<p>And a special thank you to these special people:</p>
	<ul>
		<li>Alec</li>
	</ul>
</article>
