<div class="ui page grid">

    <div class="column">

        <div class="ui segment">
            <h2 class="ui header" style="vertical-align:middle">
                <i class="tags icon"></i>
                Trending near you:
            </h2>
            <div class="ui tag huge labels" style="vertical-align:middle">
                <a class="ui label">#music</a>
                <a class="ui label">#future2015</a>
            </div>
        </div>

        <div class="ui segment">
            <form class="ui form">
                <h2 class="ui header" style="vertical-align:middle">
                    <i class="search icon"></i>
                    <div class="content">Find gigs</div>
                </h2>

                <div class="big inline" style="vertical-align:middle;padding-bottom:1em;">
                    <label>
                        <i class="calendar icon"></i>From <span contenteditable='true' ng-model="search.fromDatePretty" strip-br="true" select-non-editable="true"></span><i ng-show="search.fromDate == 'Invalid Date'" class="red remove icon"></i> till <span contenteditable='true' ng-model="search.tillDatePretty" strip-br="true" select-non-editable="true"></span><i ng-show="search.tillDate == 'Invalid Date'" class="red remove icon"></i>
                    </label>,

                    <i class="dollar icon" style="padding:0 0 0 0;margin:0 0 0 0;"></i>
                    <input style="padding:0 0 0 0;margin:0 0 0 0;background:transparent;display:inline;vertical-align:middle;width:initial;" type="number" min="0" max="100" step="5" ng-model="search.cost" />
                    <label>and under</label>

                    <label><i class="location arrow icon"></i>near <span contenteditable='true' ng-model="search.location" strip-br="true" select-non-editable="true"></span>.</label>
                </div>

                <div class="one wide row" style="vertical-align:middle;padding-bottom:1em;">
                    <div class="ui toggle checkbox">
                        <input type="checkbox">
                        <label>Under 18</label>
                    </div>
                </div>

                <div class="ui button" ng-click="search.searchForGigs()">
                    <i class="search icon"></i> Search
                </div>
            </form>
        </div>

        <div class="ui segment">
            <div class="ui dimmer" ng-class="{ active: search.isSearchingForGigs}">
                <div class="ui text loader">Finding gigs</div>
            </div>

            <div class="ui three cards">

                <div class="card" ng-repeat="gig in search.gigs">
                    {{ gig.name }}
                    <div class="content">
                        <div class="header"><a href="">Gig name</a>
                        </div>
                        <div class="description">
                            <p><i class="location arrow icon"></i>suburb 12km - <a href="">venue</a>
                            </p>
                            <p>12pm-5pm . today</p>
                            <div class="ui tag labels" style="vertical-align:middle">
                                <a class="ui label">#music</a>
                                <a class="ui label">#future2015</a>
                            </div>
                        </div>

                        <div class="extra content">
                            <i class="check icon"></i> 121 Votes
                        </div>
                    </div>

                </div>

            </div>
        </div>