// Place all the styles related to the Gigs controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
@import "bootstrap-3.0.3/bootstrap.less";
@import "bootstrap-3.0.3/mixins.less";

#gigs-new {
	
}

#gigs-unmoderated {
	.gig-row {
		.make-row;
		.gig {
			.make-md-column(9);
		}
		.tools {
			.make-md-column(3);
		}
		&.moderated {
			opacity: 0.5;
		}
	}
}

#gigs-index {
	nav {
		.btn-group,
		.search {
			margin-bottom: 1em;
		}
		
		.search {
			p { font-size: 32px; }
			button { display: block; }
		}
	}
}

#gigs-show {
}

.gig {
	display: flex;
	flex-flow: column wrap;
	
	margin-bottom: 1em;
	
	text-align: center;
	
	.gig-inner {
		display: flex;
    	flex-grow: 1;
	}
	
	.left,
	.right  {
		background-color: #333;
		color: white;
	}
	
	.left,
	.main,
	.right {
		font-size: 28px;
		flex: 1 1 auto;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	
	.left {
		.make-md-column(3);
		.box-sizing(border-box);
		
		vertical-align: top;
		border-right: 1px solid @gray-light;
		
		& > div {
			border-bottom: 1px solid @gray-light;
		}
		& > div:last-child {
			border-bottom: none;
		}
		text-align: left;
	}
	.main {
		background-color: white;
		.make-md-column(6);
		border-top: 1px solid #333;
		border-bottom: 1px solid #333;
		
		text-align: left;
		vertical-align: top;
		a {
			color: #333;
		}
		h2 {
			margin-top: 0;
		}
	}
	.right {
		.make-md-column(3);
		vertical-align: top;
		border-left: 1px solid @gray-light;
		text-align: left;
	}
}
