@import "bootstrap-3.0.3/bootstrap.less";
@import "bootstrap-3.0.3/mixins.less";
@import "flatly/bootswatch.less";
@import "flatly/variables.less";
@import "bootstrap-chosen.less";
@font-size-base: 16px;

//http://nebulab.it/blog/abc-of-seo-for-ruby-on-rails-developers

body {
	.container;
}

[contentEditable=true]:empty:before{
	content: attr(placeholder);
	color: @gray-light;
	border: none;
}

[contentEditable=true].can-edit {
	color: @gray-light;
}

[contenteditable]:focus, textarea:focus, input:focus{
     outline: 0px solid transparent;
}

input {
	-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   border: none;
}
