@import "util.less";
@import "gigs.less";
@import "venues.less";
@import "social-icons.less";
@import "token-input.less";
@import "pages.less";

@font-size-base: 16px;
@icon-font-path: "";

@link-color:            lighten(#DEBB27, 15%);
@link-hover-color:      #DEBB27;

@navbar-margin-bottom: 0;
.navbar {
	margin-bottom: 0px!important; // TODO ugly hack
}

//http://nebulab.it/blog/abc-of-seo-for-ruby-on-rails-developers

body {
}

#header {
	& > div {
		.make-row;
		.make-md-column-offset(1);
		.make-md-column(10);
	}
}

.page {
	.make-md-column-offset(1);
	.make-md-column(10);
}

#footer {
	.make-row;
	.make-md-column(12);
	padding-top: 3em;
}

.page-header {
	margin-top: 0px !important;
}

[contentEditable]:empty:before{
	content: attr(placeholder);
	color: @gray-light;
	border: none;
}

[contentEditable]:focus, textarea:focus, input:focus{
     outline: 0px solid transparent;
}

[contentEditable] {
	display: inline-block;
}

.popover-content {
	color: black;
}

// NO BReaking of text
[nobr] {
  white-space: nowrap;
}

.input-date,
.input-time {
	color: @gray-light;
	border: none;
	background: none;
}