@import "util.less";

#pages-index {
	.make-row;
	.make-md-column(12);
	.full-width;

	.intro {
		background-image: image-url("intro3.jpg");
		background-size: cover;
		background-position-y: 37%;
		//background-position: center;
		color: white;
		text-align: center;
		ul {
			.list-unstyled;
		}
	}

	.body {
		div {
			.make-row;
			.make-md-column-offset(1);
			.make-md-column(10);
			margin-bottom: 1em;
			ul { .list-unstyled; }
			div {
				.make-md-column(3);
				h2 {
					margin: 0 0 0 0;
					padding: 0 0 0 0;
				}
			}
			.artist-box {
				h2 { color: inherit; }
			}
		}
	}
}