<div class="gig-form">

<article class="gig form-group">
<div class="gig-inner">

<aside class="left">
	<div>
		$<span class="ticket-cost" contenteditable="true" placeholder="0"></span>
		<!--<select class="form-control input-sm">
			<option>At door</option>
			<option>Online</option>
			<option>Both</option>
		</select>-->
	</div>
	
	<div>
		From <span class="can-edit from-date" contenteditable="true">dd/mm/yyyy</span> at <span class="can-edit from-time" contenteditable="true">00:00</span> to <span class="can-edit from-date" contenteditable="true">dd/mm/yyyy</span> at <span class="can-edit from-time" contenteditable="true">00:00</span>
	</div>
</aside>

<div class="main">
	<h2><span contenteditable="true" placeholder="Event Name"></span> @ <span contenteditable="true" placeholder="Venue Name"></span></h2>
	
	<select data-placeholder="What type(s) of music will be playing?" class="chosen-select" multiple style="width:350px;height:1em;" tabindex="4">
		<option value=""></option>
		<option>Rock</option>
		<option>Indie</option>
		<option>Alternative</option>
	</select>
</div>

<aside class="right">
	<div>~16km in Wynnum <a>MAPS ICON</a></div>
	<div><a>SHARE</a></div>
</aside>


</div>
</article>

</div>
