
    <div class="toggle">
      <div class="toggle-handle"></div>
    </div>
<form class="input-group">
  <div class="input-row">
    <label>Gig name</label>
    <input type="text" placeholder="February weekly dance">
  </div>

  <textarea rows="5"></textarea>

  <div class="input-row">
    <label>Link to source</label>
    <input type="email" placeholder="http://super-nice-place.com/event/42">
  </div>
  <div class="input-row">
    <label>Cost</label>
    <input type="text" placeholder="$20">
  </div>
  <div class="input-row">
    <label>18+</label>
    <div class="toggle">
      <div class="toggle-handle"></div>
    </div>
  </div>

  <h2 class="divider">Venue details</h2>



  <button class="btn btn-positive btn-block">Post gig</button>
</form>
  