<div class="page-header">
	<h1>Post a gig</h1>
</div>

<div class="gig-form">

<article class="gig">
<div class="gig-inner">

<aside class="left">
	<div>
		$<span class="ticket-cost" contenteditable="true" placeholder="0"></span>
		<!--<select class="form-control input-sm">
			<option>At door</option>
			<option>Online</option>
			<option>Both</option>
		</select>-->
	</div>
	
	<div>
		From <span class="can-edit from-date" contenteditable="true" placeholder="dd/mm/yyyy"></span> at <span class="can-edit from-time" contenteditable="true" placeholder="00:00"></span> to <span class="can-edit from-date" contenteditable="true" placeholder="dd/mm/yyyy"></span> at <span class="can-edit from-time" contenteditable="true" placeholder="00:00"></span>
	</div>
</aside>

<div class="main">
	<h2><span contenteditable="true" placeholder="Event Name"></span> @ <span contenteditable="true" placeholder="Venue Name"></span></h2>
	
	<select data-placeholder="What type(s) of music will be playing?" class="chosen-select genres" multiple style="width:350px;" tabindex="4">
		<option value=""></option>
		<option>Rock</option>
		<option>Indie</option>
		<option>Alternative</option>
		<option>Chill</option>
		<option>Acoustic</option>
	</select>
</div>

<aside class="right">
	<div><p contenteditable="true" placeholder="Enter the address of the venue here"></div>
</aside>


</div>

</article>

<div class="row">
<p>After you've posted the gig, it will moderated shortly then posted!</p>
<button type="button" class="btn btn-primary btn-lg">Post Gig</button> 
</div>

</div>
