<header class="page-header">
	<h1>Unmoderated gigs</h1>
</header>

<% @gigs.each do |gig| %>

<div class='gig-row row'>
	<%= form_for(gig, remote: true, html: {autocomplete: "off", class: 'gig-form gig-approve-form'}) do |f| %>
	<%= render :partial => "gig_editable", :locals => {:gig => gig, :f => f} %>
	<div class='tools'>
		<button type="submit" class="btn btn-danger btn-lg approve-gig" value="disapprove" name="commit"><span class="glyphicon glyphicon-remove"></span></button>
		<button type="submit" class="btn btn-success btn-lg disapprove-gig" value="approve" name="commit"><span class="glyphicon glyphicon-ok"></span></button>
	</div>
	<% end %>
</div>


<% end %>
